<h1>Listing audios</h1>

<table>
  <tr>
  </tr>

<% @audios.each do |audio| %>
  <tr>
    <td id='audio' ><%= link_to h(audio.file_name), '' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New audio', new_audio_path %>
