<h1>Listing audios</h1>

<table>
  <tr>
  </tr>

<% @audios.each do |audio| %>
  <tr>
    <td id='audio' ><%= link_to h(audio.filename), audio %></td>
    <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
    <td><%= link_to 'Destroy', audio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New audio', new_audio_path %>
