<% title "Sources" %>

<table>
  <tr>
    <th>Name</th>
    <th>Unit</th>
    <th>Section</th>
  </tr>
  <% for source in @sources %>
    <tr>
      <td><%=link_to h(source.name), source %></td>
      <td><%=h source.unit %></td>
      <td><%=h source.section %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Source", new_source_path %></p>
