<%= javascript_include_tag "jquery-1.4.1.min","jquery.swfobject.1-0-8","FABridge", "application_word" %>
<div id='mp3_player'>
</div>

<%= label_tag "sound", "Sound On" %>
<%= check_box_tag "sound", 1, :id => 'sound' %>

<div id='word'>
<%= render :partial => 'word_description' %>
</div>


