<li class='single_dsentence'>
<% fields_for 'dialog[dsentences][]', dsentence_form, :index => "" do |f| %>
  <%= f.text_field :person %>
  <%= f.collection_select :sentence_id, @dialog.unit.sentences, :id, :content %>
  <%= button_to_function "Remove sentence","remove_dsentence(this)" %>
<% end %>
</li>
